@import "./abstracts/_variables";
@import "./base/_typography";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    //This defines what 1 rem is otherwise fonts would be in typography
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    
}
