@import "./abstracts/_variables";
@import "./abstracts/_mixins";
@import "./base/_typography";
@import "./components/_line";
@import "./components/_punctor";
@import "./components/_button";
@import "./layout/_header";
@import "./layout/_navigation";
@import "./layout/__footer";
@import "./pages/_home";
@import "./pages/_gabpsych";
@import "./pages/_contact";


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    //This defines what 1 rem is otherwise fonts would be in typography
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    
}


