//COLORS


$color-primary:#fff;
$color-grey-dark:#39393A ;
$color-orange:#f8b008;
$color-purple:#3d3985;
$color-yellow:#FEFFA5;

// #FEFFA5;beżowy
// #FFA0AC;różowy
// #B6D9E2;niebieski
// #004FFF dark blue;
// DAB6C4 fioletowy
// F7C7DB
// 331832 dark purple
//EE7B30 pomarańczowy
