//COLORS

$color-grey-dark:#39393A ;
$color-light-grey:#fff;
// #E6E6E6;

$color-orange:#f8b008;


$color-green-dark:#3d3985;

// $color-green-dark: #297373;
$color-primary-light:#B6D9E2;
$color-primary-dark:#FEFFA5;

// #FEFFA5;beżowy
// #FFA0AC;różowy
// #B6D9E2;niebieski
// #004FFF dark blue;
// DAB6C4 fioletowy
// F7C7DB
// 331832 dark purple
//EE7B30 pomarańczowy
