.container {
    width:85vw;
    margin:1rem auto;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    column-gap:0.5rem;
    
    &--light {
      margin:0;
      width:100vw;
      text-align:center;
      grid-template-columns: repeat(1,1fr);
      row-gap:6rem;
    }
  
}



.container-fun {
  width:100%;
  background-color:$color-yellow;
  padding:3rem;
  height:fit-content;
}


.info {
    background-color:$color-yellow;
    max-width:100%;
    min-width:300px;
    max-height:850px;
    padding:3rem;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    &__item {
    display:flex;
    }
}
.info--full {
  background-color:$color-yellow;
}

.simple-slider-wrapper {
  
  max-width: 100%;
  min-width:400px;
  max-height: 850px;
  position: relative;
    &--fun {
      width:100%;
    }
    
}

.control_prev,
.control_next {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  z-index: 99999;
  width:48px;
  height: 48px;
  
  color:black;
  text-align: center;
  padding:4px 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 38px;
  overflow: hidden;
  cursor: pointer;
}

.control_prev {
  left: 0;
}

.control_next {
  right: 0;
}

// .control_prev span:before,
// .control_next span:before {
//   content: "";
//   width: 48px;
//   height: 48px;
//   position: absolute;
//   padding:4px 0;
// }

// .control_prev span:before {
//   background: url('https://www.flaticon.com/svg/static/icons/svg/271/271218.svg');
//   top: 0;
//   right: 0;
// }

// .control_next span:before {
//   background: url('https://www.flaticon.com/svg/static/icons/svg/271/271226.svg');
//   top: 0;
//   left: 0;
// }

.simple-slider-overflow-hidden {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0 50px;
}

.simple-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 100%;
  height: 100%;
 
}

.simple-slider-element {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 2em;
}

.slide-image {
  object-fit: cover;
height: 100%;
width: auto
}


.fun__gallery {
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
 
  }

  .fun__pic {
    padding:0.5em;
    max-width:300px;
    height:fit-content;
  }  

//media queries

@media (max-width:1199px) {
  .container {
      grid-template-columns: repeat(1,1fr);
      row-gap:6rem;
     
  }
  .simple-slider-wrapper {
    max-height:500px;
    
  }

  .simple-slider {
    margin:0 auto;
  }
 
}

@media (min-width:1200px) {
  
.simple-slider-wrapper--light {
  width:80%;
  max-height:600px;
  margin:0 auto; 
  text-align:center;
}
}
// @media (max-width:1199px) and  (min-width:779px) {
//   .simple-slider.simple-slider--noslider{
//  text-align:right;
//   }
// }

@media (max-width:560px) {
  .info--light {
    max-height:none;
  }
  .info {
    min-width:none;
  }
  .container {
    width:100vw;
  }
}

