.button {
    width:100%;
    height: 50px;
    background-color:$color-orange;
    border:1px orange solid;
    margin: 3rem 0;
    
}

@media screen and (min-width:960px) {
    .button {
        width:200px;
        margin:3rem 0 0 0;
    }
}