.footer {
    height:12vh;
    padding: 1em 2.5em;
    &__menu {
        
        display:flex;
        justify-content: space-between;
        align-items: center;
    
    }
}

@media (max-width:536px) {
    .footer__menu {
       flex-direction:column;
       justify-content:center;
    }
}
