.header {
    // height:65vh;
   
    font-size:1.6rem;
      
}

.hero-img {
    height:55vh;
    background-image: url('../img/colourfulHands.jpg');
    background-size: cover;
    background-position:center;
    
}