.nav-bar {
    padding: 1rem 2.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}



.fa {
    padding: 20px;
    font-size: 20px;
    max-width: 50%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color:$color-grey-dark;
    &:hover {
        opacity: 0.5;  
    }
  }

  .menu {
      width:55vw;
      display:flex;
      justify-content:end;
      &__link {
          margin:0 2rem;
          color:$color-purple;
          font-weight: 700;
          &:hover {
              color:$color-orange;
          }
          &:visited {
              opacity:0.8;
              
          }
      }
  }


  .phone{
      color:$color-grey-dark;
  }

  .hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.logo {
    width:80%;
}

@media only screen and (min-width: 960px) and (max-width:1199px){
    .social-media {
        width:35%;
    }
    
}

@media only screen and (max-width: 959px) {
    .menu {
        position:fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color:$color-primary;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .menu.active {
        left: 0;
    }

    .menu__item {
        margin: 2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media only screen and (max-width: 536px) {
    .social-media {
        display:none;
        &--footer {
        display:block;
    }
    .fa {
        padding:5px;
    }
}
}